body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    padding: 0 50px;
}

/* HEADING */
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading #newBook {
    padding: 10px 30px;
    background-color: rgb(200, 248, 123);
    border-style: none;
    border-radius: 9px;
    margin-bottom: 30px;
}
.heading #newBook:hover,
.btn:hover {
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.card {
    padding: 0px 20px;
    border: 1px solid gray;
    border-radius: 9px;
    flex: 1 1 auto;
}

/* MODAL 5x2 */ 
.modal {
    border: 1px solid lightgray;
    border-radius: 7px;
    width: 400px;
}
.modal-head {
    padding-left: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-main {
    display: flex;
    flex-direction: column;
}
.modal-input {
    padding: 0 40px;
    padding-bottom: 20px;
    display:flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-input input {
    height: 20px;
    width: 350px;
    font-size: 14px;
}
.close-icon {
    width: 25px;
    height: 25px;
}
.btn {
    padding: 10px 30px;
    background-color: rgb(200, 248, 123);
    border-style: none;
    border-radius: 9px;
    
}
.modal-radio {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 5px;
}
.modal-radio input {
    width: 20px;
}
.modal-radio label {
    justify-self: center;
    align-self: center;
}
::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}
