body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HEADING */
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading #newBook {
    padding: 10px 30px;
    background-color: rgb(200, 248, 123);
    border-style: none;
    border-radius: 9px;
    margin-bottom: 30px;
}
.heading #newBook:hover,
.btn:hover {
    box-shadow: 0 0 5px black;
    cursor: pointer;
}

/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.card {
    padding: 0px 20px;
    border: 1px solid gray;
    border-radius: 9px;
    flex: 1 1 auto;
}

/* MODAL */ 
.modal {
    border: 1px solid lightgray;
    border-radius: 7px;
    width: 400px;
}
.modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.modal-input {
    padding: 0 40px;
    display:flex;
    flex-direction: column;
}
.close-icon {
    width: 40px;
    height: 30px;
}
.btn {
    padding: 10px 30px;
    background-color: rgb(200, 248, 123);
    border-style: none;
    border-radius: 9px;
    margin-bottom: 30px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}
